
section {
	display: block;
    margin: 0 auto;
	width: 800px;
	background-color: #FFFFFF;
	border: 1px solid #999;
	hight: auto;
}

.center {
	text-align: center;
}


.imgbox {
	margin-top: 25px;
	margin-left: 25px;
	height: 100%;
	background-color: #FFFFFF;
}

.imgbox img {
    width: auto;
    height: 100%;
}

.middle {
	position: relative;
	min-height: 30px;
	margin-left: 250px;
	margin-right: 250px;
	display:hidden;
}

textarea {
	margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:750px;
	height:50px;
}