section {
	display: block;
    	margin: 0 auto;
	width: 1000px;
	height: auto;
}

.center {
	text-align: center;
}

.inf {
	position: relative;
	display: block;
	margin: 0 auto;
	width: auto;
}

.inf img {
	position: relative;
	display: block;
    	margin-left: auto;
   	margin-right: auto
}