{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %} Add Restaurant {% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static "CSS/AddRestaurant.css" %}" />

{% block body_block %}
	<div>
		<H2>Add Restaurant</H2>
		<form action="{% url 'addRestaurant' %}" id="addRestaurant_form" enctype="multipart/form-data", 
		method="POST", >
			<table>
				<td>
				{{addRestaruant_form.as_table}}
				{{addRestaurant.help_text}}
				</td>
			</table>	
			<input type="submit" name="submit" value="Add Restaurant">
		</form>
	</div>

{% endblock %}
