<!DOCTYPE html>
{% load staticfiles %}
<html> 
	<head>
		<title> 
			{% block title_block %}
			{% endblock %} 
		</title>
		{% block head_block %}
		{% endblock %}
	</head>
<body>
	<div>
		{% block body_block %}
		{% endblock %}
	</div>
	
	<div style="position: fixed;bottom: 0;text-align: center;margin: 0 auto;width: 100%;">
	<!--In text CSS to make sure the base do not effect other pages -->
		<HR size="2" width="90%" >
		<a href="{% url 'index' %}">Index</a>  <a href="{% url 'about' %}">About</a><br>
		The Website Was Made By </br>Yuk Fai Wong, Nhut Minh Vo, Alex Marshall
	</div>
</body> 
</html>