{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "CSS/NormalPageStyle.css" %}"/>
	<title>EatGlasgow</title> 
</head>
<body>
<div class="mainpage">
	<left>
		<p>Signup</p>
		<p>login</p>
	</left>
  
	<right>
		<div class="image"><img src="{% static "image/logo.jpg" %}" alt="Logo"/></div>
		<p>This is the right part of the page</p>
		<p>Which 200px</p>
	</right>
	
	<div class="searchBar">
		<p>
		This should be the search bar
		</p>
	</div>
 
		<section>
			<p>
			<div class="Rimage"><img src="{% static "image/logo.jpg" %}" alt="Logo"/></div>
			{{ Name }}</br>
			{{ Cuisine }}</br>
			{{ StressAdress }}</br>
			{{ PriceRange }}</br>
			{{ OpeningHours }}</br>
			{{ Status }}</br>
			
			</p>
		</section>
{% if Restaurant %}
	{% for Restaurant in RestaurantList %}
		<section>
			<p>
			<div class="Rimage"><img src="{% static "image/logo.jpg" %}" alt="Logo"/></div>
			{{ Name }}</br>
			{{ Cuisine }}</br>
			{{ StressAdress }}</br>
			{{ PriceRange }}</br>
			{{ OpeningHours }}</br>
			{{ Status }}</br>
			{{ logo }}
			</p>
		</section>
	 {% endfor %}
{% endif%}

</div>
</body>
</html>