{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    EatGlasgow-Login
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "CSS/Login.css" %}"/>
{% endblock %}

{% block body_block %}
    <div class="login">
        </br></br></br>
        <img src="{% static "image/logo.jpg" %}" alt="Logo"/> <!--web logo-->
        </br></br></br>
        <form class="login_form_style" id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2"><H1>Please Login To Access The Page</H1></td>
                </tr>
                <tr>
                    <td>Username:</td> <!--usid-->
                    <td><input type="text" name="username" width="48" size="50"/></td>
                </tr>
                <tr>
                    <td>Password:</td> <!--passward-->
                    <td><input type="password" name="password" width="48" size="100"/>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Login"/>
        </form>
    </div>
{% endblock %}