{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ Name }}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static "CSS/restaurant.css" %}"/>
	
{% endblock %} 

{% block body_block %}
{% if RestaurantList %}
<H1 class="center">{{ RestaurantList.name }}</H1>

<div class="inf">
	<img class="center" src="{{ RestaurantList.photo.url }}" alt="{{ Restaurant.name}}Photo"/></br>
	{{ RestaurantList.get_cuisine_display }}</br>
	{{ RestaurantList.streetAddress }}</br>
	{{ RestaurantList.get_priceRange_display }}</br>
	{{ RestaurantList.openingHour }}</br>
</div>
{% endif%}

{% endblock %}