{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ Name }}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static "CSS/restaurant.css" %}"/>
	
{% endblock %} 

{% block body_block %}
{% if RestaurantList %}
<section> 
	<H1>{{ RestaurantList.name }}</H1>
	<HR size="1" width="100%" >
	Cuisine:{{ RestaurantList.get_cuisine_display }}</br>
	Address:{{ RestaurantList.streetAddress }}</br>
	Price Range:{{ RestaurantList.get_priceRange_display }}</br>
	OpeningHour:{{ RestaurantList.openingHour }}</br>
</section> 
<div class="middle"><br></div>
<section> 
	<div class="imgbox "><img class="center" src="{{ RestaurantList.photo.url }}" alt="{{ Restaurant.name}}Photo"/></div>
	{{ RestaurantList.description }}
</section> 
<div class="middle"><br></div>
<!-- add view block here  -->
{% if user.is_authenticated %}
<section> 
<form id="Review_form" method="post" action="{% url 'restaurant' RestaurantList.resID %}" enctype="multipart/form-data">
{% csrf_token %}
<textarea name="review_text"></textarea>
<select name="rating">
  <option value =0 SELECTED>Not Rated</option>
  <option value =1>Poor</option>
  <option value=2>Okay</option>
  <option value=3>Excellent</option>
</select>
<input type="submit" value="Send" />
</form>
</section> 
{% endif %}


<!-- add view block end here  -->
<!-- view block here  -->

{% if ReviewList %}
	{% for Review in ReviewList %}
		{% if Review.status == 1 %}
			<section> 
				Name: {{ Review.userID }} <span style="float:right;">{{ Review.reviewDate }}</span><br>
				Rating: {{ Review.get_rating_display }}
				<HR size="1" width="100%" >
				{{ Review.content }}
				{% if Review.photo %}
					<HR size="1" width="100%" >
					<img src="{{ Review.photo.url }}" alt="{{ Restaurant.name.url }}Photo"/>
				{% endif %}
			</section> 
				{% for reply in replyList %}
					{% if Review.revID == reply.revID.revID %}
					<section> 
						Re: {{ Review.userID }} by {{ reply.ownerID }}<span style="float:right;">{{ reply.repDate }}</span><br>
						{{ reply.content }}
						</section> 
					{% endif %}
				{% endfor %}
			<div class="middle"><br></div>
		{% endif %}
	{% endfor %}

{% endif %}
{% endif %}
{% endblock %}